@model List<ListUserPcViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Здесь отображаются список подключенных ПК</p>
    <table class="table table-hover table-striped table-dark ">
        <thead>
        <tr>
            <th scope="col">MachineName</th>
            <th scope="col">Os</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr class="clickable-row" data-href="@Url.Action("Index","UserPcInfo", new { id = item.Id })" data-userpcid="@item.Id">
                <td>@item.MachineName</td>
                <td>@item.Os</td>
                <td class="status">Оффлайн</td>
            </tr>    
        }
        </tbody>
    </table>
</div>

@section Scripts

{<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/monitoring")
        .build();
    

    connection.on("UpdateStatus", (userPcId, isOnline) => {
        const statusElement = document.querySelector(`[data-userpcid='${userPcId}'] .status`);
        if (statusElement) {
            statusElement.textContent = isOnline ? "Онлайн" : "Оффлайн";
        }
    });

    connection.start().catch(err => console.error(err.toString()));
</script>
    <script>
    $(document).ready(function() {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script> }
